/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body
{    background-color: #F5F5F5;
}
:root
{
    --main-color:#0078FF;
    --main-font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-shadow:0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.06), 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.2)
}
::-webkit-scrollbar
{
    width: 0.9375rem;
}
::-webkit-scrollbar-track
{
    background-color: #f7f7f7;
}
::-webkit-scrollbar-thumb
{
    background-color: var(--main-color);
}
/* Start Nav */
nav
{
    background-color: rgba(0, 0, 0, 0.5);
}
nav .navbar-brand
{
    color: #fff;
    font-size: 1.75rem !important;
}
nav .collapse .navbar-nav 
{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

nav .collapse .navbar-nav .nav-item .nav-link
{
    color: #fff;
    font-size: 1rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 600;

}
.navbar .navbar-nav .nav-item .nav-link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0.125rem;
    background-color:#fff;
    bottom: 0;
    left: 2.3125rem;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
} 
.navbar .navbar-nav .nav-item .nav-link.active::before{
    width: 50%; 
}
.navbar .navbar-nav .nav-item .nav-link:hover::before{
    width: 50%;
}
.collapse>ul>li {
    white-space: nowrap;
    padding: 0.625rem 0 0.625rem 1.875rem;
}
.dropdown-menu
{
    position: relative;
}
.dropdown-menu li a
{
    font-weight: 600;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.dropdown-menu li a:hover
{
    color: var(--main-color);
}
.nav-item.dropdown
{
    -webkit-transition: 0.5s all !important;
    -o-transition: 0.5s all !important;
    transition: 0.5s all !important;

}
li.dropdown ul.dropdown-menu
{
    -webkit-transition: 1s all !important;
    -o-transition: 1s all !important;
    transition: 1s all !important;

}
li.dropdown:hover ul.dropdown-menu
{
    display: inline-block;
}
.drop-2
{
    position: absolute !important;
    top: 30%;
    left: 99%;
    background-color: #fff;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.drop-2 .nav-item .nav-link
{
    color: #000 !important;
    font-size: 0.9375rem !important;
}
.special-list:hover .drop-2
{
    opacity: 1;
}
.special-list .drop-2 li a:hover 
{
    color: var(--main-color) !important;
}
nav .collapse ul li
{
    position: relative;
}

/* Start Header */
header
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0000005d), to(#0000005d)), url(../img/hero-bg.jpg);
    background-image: linear-gradient(#0000005d, #0000005d), url(../img/hero-bg.jpg);
    -webkit-background-image: -webkit-gradient(linear, left top, left bottom, from(#0000005d), to(#0000005d)), url(../img/hero-bg.jpg);
    -webkit-background-image: linear-gradient(#0000005d, #0000005d), url(../img/hero-bg.jpg);
    -moz-background-image: linear-gradient(#0000005d, #0000005d), url(../img/hero-bg.jpg);
    -o-background-image: -o-linear-gradient(#0000005d, #0000005d), url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    -o-background-position: center center;
    -moz-background-position: center center;
    -webkit-background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}
 span.typed-cursor
{
    font-size:1.875rem !important;
}
header .caption #element
{
    font-size: 1.6875rem;
    padding-right: 0.3125rem;
}

header .caption h1
{
    font-size: 4.5rem;
}
.about
{
    padding-block: 3.75rem;
}
.about-content
{
    background-color: #fff;
    -webkit-box-shadow: var(--main-shadow);
            box-shadow: var(--main-shadow);

}
.about-content h2
{
    margin-bottom: 48px;
    position: relative;
}
.about-content h2::after
{
    content: "";
    position: absolute;
    bottom: -7%;
    left: 0;
    width: 15%;
    height: 0.1875rem;
    background-color: var(--main-color);
}
.about-content p
{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 16px;
}
.about .about-content .about-content-caption .title {

    font-weight: 600;
    color: #1e1e1e;
    font-size: 17.6px;
}
/* Start Services */
.services
{
    padding-block: 3.75rem;

}
.services .services-heading
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.services .services-heading h2
{
    color: #1E1E1E;
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: 700;
    text-transform: uppercase;
}
.services .services-heading p
{
    color:#4E4E4E;
    position: relative;
}
.services .services-heading p::after
{
    content: "";
    position: absolute;
    bottom: -0.9375rem;
    left: 43%;
    width: 10%;
    height: 0.3125rem;
    background-color: var(--main-color);
}
.services-item
{
    padding: 1.25rem;
    background-color: #fff;
    -webkit-box-shadow: var(--main-shadow);
            box-shadow: var(--main-shadow);
}

.services-item .services-icon
{
    text-align: center;
    border: 0.625rem solid var(--main-color);
    border-radius: 50%;
    padding: 1.25rem;
    color: #000;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    width: 6.25rem;
    height: 6.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.services-item i
{
    font-size: 2.5rem;
    border-radius: 50%;

    text-align: center;
}
.services-item:hover .services-icon
{
    -webkit-box-shadow: 0 0 0 0.625rem #cde1f8;
            box-shadow: 0 0 0 0.625rem #cde1f8;
    background-color: var(--main-color);
    color: #fff;
}
.services-item .services-caption h3
{
    color: #1E1E1E;
    font-size:1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}
/* Start OverLay */
.overlay
{
    background-image: -webkit-gradient(linear,left top, left bottom,from(#0077ff93),to(#0077ff93)), url(../img/counters-bg.jpg);
    background-image: -o-linear-gradient(#0077ff93,#0077ff93), url(../img/counters-bg.jpg);
    background-image: linear-gradient(#0077ff93,#0077ff93), url(../img/counters-bg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    padding-block: 3.75rem;
    
}
.overlay-content 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;

}
.overlay-content .overlay-icon
{
    text-align: center;
    -webkit-box-shadow: 0 0 0 0.4375rem #cde1f8;
            box-shadow: 0 0 0 0.4375rem #cde1f8;
    border-radius: 50%;
    padding: 1.25rem;
    color: #000;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    width: 6.25rem;
    height: 6.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.625rem;
}
.overlay-content .overlay-icon i
{
    font-size: 2.1875rem;
    color: #fff;

}
/* Start Portfolio */
.portfolio
{
    padding-block: 3.75rem;

}
.portfolio .portfolio-heading
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.portfolio .portfolio-heading h2
{
    color: #1E1E1E;
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: 700;
    text-transform: uppercase;
}
.portfolio .portfolio-heading p
{
    color:#4E4E4E;
    position: relative;
}
.portfolio .portfolio-heading p::after
{
    content: "";
    position: absolute;
    bottom: -0.9375rem;
    left: 43%;
    width: 10%;
    height: 0.3125rem;
    background-color: var(--main-color);
}
.portfolio-item
{
    background-color: #fff;
    -webkit-box-shadow: var(--main-shadow);
            box-shadow: var(--main-shadow);
}
.portfolio-item .portfolio-caption h2
{
    color:#1E1E1E;
    font-size: 1.2rem;
    font-weight: 500;
}
.portfolio-item .portfolio-caption p
{
    color:#4E4E4E;
    font-size: 0.8125rem;
}
.portfolio-item .portfolio-caption span
{
    color: var(--main-color);
    font-size: 0.8125rem;
    font-weight: 400;
}
.portfolio-item .portfolio-caption
{
    position: relative;
}
.portfolio-item .portfolio-caption .icon 
{
    width: 1.875rem;
    height: 1.875rem;
    border: 0.125rem solid var(--main-color);
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 3%;
    bottom: 0.9375rem;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
.portfolio-item .portfolio-caption .icon i
{
    font-size: 1.25rem;
    color: var(--main-color);
}
.portfolio .portfolio-item .portfolio-img{
    overflow: hidden;
}
.portfolio .portfolio-item img
{
    -webkit-transition: 0.7s all;
    -o-transition: 0.7s all;
    transition: 0.7s all;
    cursor: pointer;
    -webkit-filter: contrast(0.6);
            filter: contrast(0.6);
}
.portfolio .portfolio-item:hover img
{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-filter: contrast(1);
            filter: contrast(1);

}
.portfolio .portfolio-item:hover .icon
{
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}


/* Start Over-Swiper */
.over-swiper
{
    background-image: -webkit-gradient(linear,left top, left bottom,from(#0077ff93),to(#0077ff93)), url(../img/overlay-bg.jpg);
    background-image: -o-linear-gradient(#0077ff93,#0077ff93), url(../img/overlay-bg.jpg);
    background-image: linear-gradient(#0077ff93,#0077ff93), url(../img/overlay-bg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding-block: 3.75rem;
}
.swiper {
    width: 37.5rem;
    height: 28.125rem;
    text-align: center;
}
.swiper .swiper-wrapper .swiper-slide 
{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    color: #fff;
}
.swiper .swiper-content img
{
    width: 9.375rem !important;
}
.swiper-pagination-bullet
{
    width: 0.75rem !important;
    height: 0.75rem !important;
}
.swiper-pagination-bullet-active
{
    background-color: #fff;
}
/* Start Blog */
.blog
{
    padding-block: 3.75rem;
}
.blog .blog-heading
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.blog .blog-heading h2
{
    color: #1E1E1E;
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: 700;
    text-transform: uppercase;
}
.blog .blog-heading p
{
    color:#4E4E4E;
    position: relative;
}
.blog .blog-heading p::after
{
    content: "";
    position: absolute;
    bottom: -0.9375rem;
    left: 43%;
    width: 10%;
    height: 0.3125rem;
    background-color: var(--main-color);
}
.blog-item
{
    background-color: #fff;
    -webkit-box-shadow: var(--main-shadow);
            box-shadow: var(--main-shadow);
    position: relative;
    /* border-radius: 3.125rem; */
    
}

.blog-item .pos
{
    position: absolute;
    background-color: var(--main-color);
    color: #fff;
    padding: 0.625rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.blog-item .blog-caption
{
    padding: 1.25rem;
    border: 0.0625rem solid #999;
}
.blog-item .blog-caption h2
{
    font-size: 1.25rem;
    font-weight: 500;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    cursor: pointer;
}
.blog-item .blog-caption h2:hover
{
    color: var(--main-color);
}
.blog-bottom
{
    border: 0.0625rem solid #999;
}
.blog-bottom img
{
    width: 1.875rem;
    height: 1.875rem;
}
.blog-bottom h4
{
    font-size: 0.9375rem; 
    -webkit-transition: 0.5s all; 
    -o-transition: 0.5s all; 
    transition: 0.5s all;
    cursor: pointer;
}
.blog-bottom h4:hover
{
    color: var(--main-color);
}
/* Start Contact */

.contact
{
    background-image: -webkit-gradient(linear,left top, left bottom,from(#0077ff93),to(#0077ff93)), url(../img/overlay-bg.jpg);
    background-image: -o-linear-gradient(#0077ff93,#0077ff93), url(../img/overlay-bg.jpg);
    background-image: linear-gradient(#0077ff93,#0077ff93), url(../img/overlay-bg.jpg);
    background-size: 100% 100%;
    padding-block: 3.75rem;
}
.contact .contact-white
{
    background-color: #fff;
    padding: 48px 20px;
    -webkit-box-shadow: var(--main-shadow);
            box-shadow: var(--main-shadow);
}
.btns .btn
{
    background-color: var(--main-color);
    color: #Fff;
    margin-bottom: 0.625rem;
}
.contact-info
{
    padding: 0;
}
.contact-info-icon
{
    padding: 0;
}
.contact-info-icon li 
{
    list-style: none;
}
.contact-info-icon .ic
{
    color: var(--main-color);
    margin:0.625rem
}
.contact-heading{
    margin-bottom: 1.25rem;
}
.contact-heading h2
{
    position: relative;
}
.contact-heading h2::after
{
    content: "";
    position: absolute;
    bottom: -0.3125rem;
    left: 0%;
    width: 18%;
    height: 0.1875rem;
    background-color: var(--main-color);
}
.social
{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;

}
.social .icon
{
    padding: 0.625rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: 0.25rem solid var(--main-color); 
    -webkit-transition: 0.5s all; 
    -o-transition: 0.5s all; 
    transition: 0.5s all;
    margin-right: 0.625rem;
    cursor: pointer;


}
.social .icon i
{
    font-size: 1.5625rem;
}
.social .icon:hover
{
    background-color: var(--main-color);
    color: #fff;
    border-color: transparent;
    -webkit-box-shadow: var(--main-shadow) !important;
            box-shadow: var(--main-shadow) !important;

}


/* Footer */
footer
{
    background-color: var(--main-color);
    padding-block: 3.125rem;
    color: #Fff;
}



@media (min-width:75rem)
{

}


@media (max-width:74.9375rem)
{

}


@media (max-width:62rem)
{
    nav .collapse .navbar-nav .drop-2 
    {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        padding: 0.625rem;
    }
    nav .collapse .navbar-nav .drop-2 .nav-item .nav-link
{
   font-size: 0.9375rem !important;

}
nav .collapse ul li:hover::after
{
    left: 40%;
    opacity: 0;
}
.drop-2
{
    top: 0.9375rem !important;
    left: 50% !important;
}
nav .collapse .navbar-nav
{
    background-color: #fff ;
    color: #000;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
nav .collapse .navbar-nav .nav-item .nav-link
{
    color: #000 !important;    
    font-size: 0.9375rem;
    line-height:1.4063rem;
    font-weight: 600;
}
header
{
   background-attachment: scroll;

}
.overlay
{
    background-attachment: scroll;
}
.over-swiper
{
    background-attachment: scroll;
}
.contact
{
    background-attachment: scroll;
}
}



@media (max-width:35.9375rem)
{
    
    nav .collapse .navbar-nav
    {
        background-color: #fff ;
        color: #000;
        height: 100vh;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    
    nav .collapse .navbar-nav .nav-item .nav-link
    {
        color: #000 !important;    
        font-size: 0.9375rem;
        line-height:1.4063rem;
        font-weight: 600;
    }
    .drop-2
    {
        top: 0.9375rem !important;
        left: 50% !important;
    }
    nav .collapse ul li:hover::after
{
    left: 40%;
    opacity: 0;
}
    header .caption h1
    {
        font-size: 48px;
    }
    header
{
    background-attachment: scroll;

}
    .about
    {
        padding: 0 !important;
    }
    .about .about-content .about-content-img
    {
        margin-bottom: 1.25rem;
    }
    .about-content h2
    {
            font-size: 32px
    }
    .about-content h2::after
    {
        left: 0%;
        width: 38%;
    }
    .about-content .row .col-md-7 .about-content-caption,
    .about-content .row .col-md-7 .about-content-caption span 
    {
        padding-right: 0 !important;
        padding-left: 0 !important;
        font-size: 0.9375rem !important;

    }
    .about-content .col-md-6 p
    {
        color: #4E4E4E;
        font-size: 1.25rem;
        padding-bottom: 1.25rem;
    }

    .services .services-heading p
    {
        text-align: center;
    }
    .services .services-heading p::after
{
    content: "";
    position: absolute;
    bottom: -0.9375rem;
    left: 43%;
    width: 10%;
    height: 0.3125rem;
    background-color: var(--main-color);
}
.overlay
{
    background-attachment: scroll;
}
.over-swiper
{
    background-attachment: scroll;
}
.contact
{
    background-attachment: scroll;
}

}